.lien{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 5px 20px;
    text-align: left;
    text-transform: uppercase;
    border: 0px solid rgba(255, 255, 255, 0);
    margin: -2px;
    font-weight: 500;
    transition: 0.6s ease;
}

a{
    color: rgb(255, 251, 251);
    transition: 0.6s ease;
    text-align: center;
    vertical-align: middle;
    margin: 3px;
}

.Colonne{
    right: 6px;
    position:absolute;
    background-color: rgb(131, 131, 131);
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    border: 0px solid rgba(255, 0, 0, 0);
    height: 540px;
    width: 600px;
    transition: 0.6s ease;
    
}


@media screen and (max-width: 576px) 
{ 
	h1 
	{ 
		font-size : 20px;

    }
}

@media screen and (max-width: 768px) 
{ 
	h1 
	{ 
		font-size : 40px; 
       
    }
	.Colonne
  { 
    display:none;
    /* Colonne droite masqué sur mobiles */
    }
}

 @media print and (min-width: 768px) 
{ 
    * 
	{ 
		color: #000; 
	} 



} 
html {
    font-size: 100%;
}


img 
{
     max-width: 100%;
     height: auto;
}
